<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facebook</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpg" href="/images/logo.jpg" />
  <link rel="icon" type="image/png" href="svg.png">
  <link rel="stylesheet" href="video.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css">
</head>

<body>
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <image class="logo" src="/images/logo.jpg"></image>
        <span class="ml-3 text-xl">Facebook</span>
      </a>
      <nav
        class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-white" href="/" >Home</a>
        <a class="mr-5 hover:text-white" href="/post">Posts</a>
        <a class="mr-5 hover:text-white" href="/reviews">Comments</a>
        <a class="mr-5 hover:text-white" href="/video">Videos</a>
      </nav>
    </div>
  </header>

  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CkREf-y5a7Q" title="YouTube video player"
      frameborder="0" style="position: relative; left: 30%; padding: 30px;"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wofD4KjG14s?controls=0"
      title="YouTube video player" frameborder="0" style="position: relative; left: 30%; padding: 30px;"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </div>

  </div>
</body>

</html>